<?xml version="1.0" encoding="utf-8"?>
<!--
您 Web 项目的发布/打包进程将使用此文件。您可以通过编辑此 MSBuild 文件
来自定义该进程的行为。若要了解与此相关的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\Users\Administrator\Desktop\publish</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
    <ExcludeFilesFromDeployment>HtmlPage.html;task.log</ExcludeFilesFromDeployment>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <UsingTask TaskName="PublishTask" AssemblyFile="..\..\bin\PublishTask.dll" />
  <!--PrepareForBuild  MSDeployPublish GatherAllFilesToPublish  AfterPublish WebPublish -->
  <!-- ProjectDir -->
  <Target Name="PublishTask" AfterTargets="GatherAllFilesToPublish">
    <PropertyGroup>
      <OutPath>C:\Users\Administrator\Desktop\Temp</OutPath>
      <VersionPath>$(OutPath)\Default.aspx</VersionPath>
    </PropertyGroup>
    <Message Importance="high" Text="正在发布文件：$(_WebPublishTargetsPath)" />
    <!--<RemoveDir Directories="$(OutPath)" Condition="Exists('$(OutPath)')" /> -->
    <PublishTask publishDir="$(WPPAllFilesInSingleFolder)" OutPath="$(OutPath)" VersionPath="$(VersionPath)" />
    <!--
    <Exec WorkingDirectory="$(OutDir)" Command="xcopy $(WPPAllFilesInSingleFolder) $(OutPath)  /e /h /y /i" />-->
  </Target>
</Project>