<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <singleNode>1</singleNode>
  <complexNode>
    <unchange>content</unchange>
    <changed>22</changed>
  </complexNode>
  <links>
    <link>
      <name>百度</name>
      <url>http://www.baidu.com</url>
    </link>
    <link>
      <name>Google</name>
      <url>http://www.google.com</url>
    </link>
    <link>
      <name>Bing</name>
      <url>http://www.bing.com</url>
    </link>
  </links>
</configuration>